%head
  %title Goals Reference Client
  %link{:href => "/stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}
  /[if IE]
    %link{:href=>"/stylesheets/ie.css", :media=>"screen, projection", :rel=>"stylesheet", :type=>"text/css" }

%body
  #container
    #header
      %h1 Goals Reference Client
      %p
        A simple front-end for the Goals game service.
    #content
      %h3= "Player Details:"
      %ul
        %li
          %b Name:
          = "#{player.first_name} #{player.last_name}"
        %li
          %b Shirt Number:
          = "#{player.shirt_number}"
        %li
          %b Position:
          = "#{player.position}"
        %li
          %b Tier:
          = "#{player.tier}"
        %li
          %b Total goals:
          = "#{player.goals}"
        %li
          %b Total bonus:
          = "#{player.total_bonus}"