%head
  %title Goals Reference Client
  %link{:href => "/stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}
  /[if IE]
    %link{:href=>"/stylesheets/ie.css", :media=>"screen, projection", :rel=>"stylesheet", :type=>"text/css" }

%body
  #container
    #header
      %h1 Goals Reference Client
      %p
        A simple front-end for the Goals game service.
    #content
      %h2 An entry
      :markdown
        #{entry.placed_by}'s entry has #{entry.score} points and is ranked #{entry.rank} out of #{entry.entry_count}
      %ul
        - entry.front_line.each do |player|
          %li
            = player.name
            %a{:href => team_url(player.team)}
              = player.team.short_name
      %h2 The Score Card
      %ul
        - entry.score_card.players.each do |player|
          %li
            = "#{player.name} #{player.subbed? ? "is Subbed" : ""} (#{player.score.map {|score| "#{score.strength}: #{score.points}"}.join(", ")})"
