%head
  %title Goals Reference Client
  %link{:href => "/stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}
  /[if IE]
    %link{:href=>"/stylesheets/ie.css", :media=>"screen, projection", :rel=>"stylesheet", :type=>"text/css" }

%body
  #container
    #header
      %h1 Goals Reference Client
      %p
        A simple front-end for the Goals game service.
    #content
      %p These games are current:
      - games.each do |game|
        %section
          %h2= game.window_start.strftime("%A's game")
          %form{:action=>game.quick_pick_url, :method=>'POST'}
            %input{:type=>'submit', :value=>'Enter with Quick Picks'}

          :markdown
            A #{game.window_length} game starts on #{game.window_start.strftime("%A %b %d %Y")}.

            Prizes up for grabs:

            * #{game.prize.cash}
            * #{game.prize.reward_points} reward points
            * #{game.prize.skill_ranking_points} skill ranking points

          Includes the following #{game.matches.count} matches:
          %ul
            - game.matches.each do |match|
              %li
                %a{:href => match_url(match)}=  "#{match.scheduled_start.strftime("%r")} - "                
                %a{:href => team_url(match.away_team)}= match.away_team.short_name
                vs.
                %a{:href => team_url(match.home_team)}= match.home_team.short_name
          %a{:href => game.entries_url}= "Click here to see the game's entries"
      %hr.clear                                                             
    #sidebar
      %h3 Season Top Ten
      - unless rankings.empty?
        %ul
          - rankings.each do |ranking|
            %li
              = "#{ranking.login}: #{ranking.score}"

      - if rankings.empty?
        %p
          No Rankings Yet

      %h3 Profile
      %ul
        %li
          Display Name:
          = me.display_name
        %li
          Entries:
          %a{:href => my_entries_awaiting_decision_url(me)}= "Awaiting Decision"
          %a{:href => my_decided_entries_url(me)}= "Decided"
        %li
          Member Since:
          = me.member_since
      %a{:href => transactions_url(me)} Transactions
      %h3 Prizes
      %ul
        - me.decided_entries.each do |entry|
          %li
            = entry.front_line.map {|player| "'#{player.first_name} #{player.last_name}'"}.join(" ")
            %ul
              %li
                = "Cash: #{entry.prize.cash}"
              %li
                = "Reward Points: #{entry.prize.reward_points}"
              %li
                = "Skill Ranking Points: #{entry.prize.skill_ranking_points}"

    #footer
      %form
        %input{:type=>'url', :name=>'base_url', :value=>config.base_url}
        %input{:type=>'submit', :value=>'Change base URL'}
