%head
  %title Goals Reference Client
  %link{:href => "/stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}
  /[if IE]
    %link{:href=>"/stylesheets/ie.css", :media=>"screen, projection", :rel=>"stylesheet", :type=>"text/css" }

%body
  #container
    #header
      %h1 Goals Reference Client
      %p
        A simple front-end for the Goals game service.
    #content
      %p These games are current:
      - games.each do |game|
        %section
          %h2= game.window_start.strftime("%A's game")
          :markdown
            A #{game.window_length} game starts on #{game.window_start.strftime("%A %b %d %Y")}.
            
            Prizes up for grabs:
            
            * #{game.prize.cash}
            * #{game.prize.reward_points} reward points
            * #{game.prize.skill_ranking_points} skill ranking points
            
          Includes the following #{game.matches.count} matches:
          %ul
            - game.matches.each do |match|
              %li= "#{match.scheduled_start.strftime("%r")} - #{match.away_team} vs. #{match.home_team}"
      %hr.clear
    #sidebar
      %h3 Statistics
      %ul
        %li
          Number of requests:
          = statistics.number_of_requests
    #footer
      %form
        %input{:type=>'url', :name=>'base_url', :value=>config.base_url}
        %input{:type=>'submit', :value=>'Change base URL'}